.inner-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  background-color: #ffffff;
}
.body-section {
  font-family: 'Droid Sans', serif;
  font-weight: bold;
}
.inner-header {
  width: 100%;
  margin: 0px 20px;
  display: flex;
  flex-basis: 0 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.inner-header > input {
  height: 30px;
}

#display {
  width: 100%;
  border-style: none;
  border-collapse: separate;
  border-spacing: 0 15px;
  min-width: 800px;
}
#display th {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  background-color: #3d3589;
  padding: 10px 0px;
  color: #ffffff;
}
#display td {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
}
td:first-child {
  display: flex;
  align-items: center;
}

td img:first-child {
  margin-right: 10px;
}

.dept-label {
  background-color: #86e187;
  border-radius: 45%;
  width: fit-content;
  text-align: center;
  padding: 1px 7px;
  font-size: 12px;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 4px;
}
